* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.thetop {
  height: 90px;
  background-color: #795555;
  text-align: center;
}
.leftside {
  margin-top: 10px;
  margin-right: 4px;
  float: left;
  width: 200px;
  height: 260px;
  background-color: #DCD1D1;
}
.info {
  margin-top: 10px;
  margin-right: 6px;
  height: 260px;
  background-color: #F5CF8E;
}
.thebotton {
  background-color: #D6E9FE;
  margin-top: 50px;
  height: 420px;
  background-color: #D6E9FE;
}
.h1 {
  font-size: 30px;
}
.h2 {
  font-size: 20px;
}
.img1 {
  float: right;
  height: 100px;
  width: 200px;
}

.img2 {
  float: left;
  width: 300px;
  height: 260px;
}
.thebotton {
  background-color: #D6E9FE;
  margin-top: 50px;
  height: 420px;
  background-color: #D6E9FE;
}
.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 100px;
  /* background-color: #B2D6FF;    /* Medium blue */ */
}
.imgjava {
  width: 310px;
  height: 100px;
}

@media screen and (min-width: 600px) {
  div {
    background-color: white;
  }
}
